.jui-btn{
    height: 40px;
    width: 120px;
    border: 0px;
    cursor: pointer;
    border-radius: 4px
}
.jui-primary{
    background-color: #0066FF;
    color: #fff
}
.jui-default{
    
}