// 公共样式

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.v-top {
    vertical-align: top;
  }

  .text-ellipsis {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

  .display-inline {
    display: inline-block;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mr-10 {
    margin-right: 10px;
  }

  .mr-20 {
    margin-right: 20px;
  }

  .fl-r {
    float: right;
  }

  .pointer {
    cursor: pointer;
  }