.jui-modal{
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .dialog{
        z-index: 1000;
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: #333333 0px 0px 8px 0px;
        border-radius: 5px;
        .dialog-header{
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            border-bottom: 1px solid #d9d9d9;
            .dialog-title{
                float: left;
                font-size: 18px;
            }
        }
        .dialog-body{
            clear: both;
            padding: 20px 20px 10px 20px;
            min-height: 190px;
        }
        .dialog-footer{
            width: calc(100% - 20px);
            height: 60px;
            line-height: 60px;
            border-top: 1px solid #d9d9d9;
            padding: 0px 10px;
            position: absolute;
            bottom: 0px;
            text-align: right;
        }
    }
}