@J_Border: 1px solid #d9d9d9;


/**
 * 左侧树
 */
.componentTree{
    border-top: @J_Border;
    .Tree_type{
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        .IconStyle{
            width: 15px;
            height: 15px;
            float: right;
            margin-top: 5px
        }
    }
    .Tree_list{
        font-size: 14px;
        .listComponent{
            height: 40px;
            line-height: 40px;
            padding-left: 40px;
            cursor: pointer;
        }
    }
}
/*
* 页面内容公共部分
*/
.contentCommonStyle{
    .header{
        height: 40px;
        .text{
            font-size: 25px;
        }
    }
    .useComponent{
        padding: 0px 20px;
        .instructions{
            margin-top: 20px;
            .title{
                margin: 10px 20px
            }
            .content{
                border: @J_Border;
                border-radius: 8px;
            }
        }
    }
    .useComponent::-webkit-scrollbar{
        display: none;
    }
}
/*
* Button部分
*/
.buttonContent{
    .btnTypeNormal{
        padding: 20px;
        border-bottom: @J_Border;
    }
    .btnDisabled{
        padding: 20px;
        border-bottom: @J_Border;
    }
}
/*
*Icon 部分
*/
.iconContent{
    .textSvg{
        margin-top: 10px;
    }
}
/*
*Modal 部分
*/
.modalContent{
    .modalTypeNormal{
        padding: 20px;
        border-bottom: @J_Border;
    }
}