/**
 * 左侧树
 */
.componentTree{
    border-top: 1px solid #d9d9d9;
    .Tree_type{
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        .IconStyle{
            width: 15px;
            height: 15px;
            float: right;
            margin-top: 5px
        }
    }
    .Tree_list{
        font-size: 14px;
        .listComponent{
            height: 40px;
            line-height: 40px;
            padding-left: 40px;
            cursor: pointer;
        }
    }
}
/*
* Button部分
*/
.buttonContent{
    .header{
        height: 40px;
        .text{
            font-size: 25px;
        }
    }
    .useComponent{
        height: 660px;
        overflow: auto;
        padding: 0px 20px;
        .btnUsing{
            margin-top: 20px;
            .title{
                margin: 10px 0px;
            }
            .content{
                border: 1px solid #d9d9d9;
                border-radius: 8px;
                .btnTypeNormal{
                    padding: 20px;
                    border-bottom: 1px solid #d9d9d9;
                }
                .btnDisabled{
                    padding: 20px;
                    border-bottom: 1px solid #d9d9d9;
                }
            }
        }
    }
}
/*
*Icon 部分
*/
.iconContent{
    .header{
        height: 40px;
        .text{
            font-size: 25px;
        }
        .textSvg{
            margin-top: 10px;
        }
    }
}